## Boxoffice Mojo Web Scrape
An exercise in Absolute Frequency, Weighted Frequency and Relative Frequency by web scraping the all-time domestic box office results from box office mojo. This is modified from a Datacamp exercise.


Background on the metrics to be calculated:
- Absolute Frequency - number of times that a value appears, essentially, it is the number of times a particular thing happens. - in Movie Titles how many times does the word 'Star' appear

- Weighted Frequency - weights the individual value in terms of frequencies for each result in the 'value' content (overall frequency in the complete data set). - what is the value of 'Star' (how are we measuring)

- Relative frequency - the result of dividing the absolute frequency of a certain value by the total number of data. - Weighted Frequency divided by Absolute Frequency (times 'star' appears / value(measure) of star)


### Step One - gather the data

In [1]:
# import pandas, requests and Beautiful Soup

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# create the movies list including rank, title, studio lifetime gross and year.
# prints in increments of 10 for the web scrape progress. there are 150 pages to scrape
movie_list = []

for i in range(1, 156):
    if not i%10:
        print(i)
    page = 'http://www.boxofficemojo.com/alltime/domestic.htm?page=' + str(i) + '&p=.htm'
    resp = requests.get(page)
    soup = BeautifulSoup(resp.text, 'lxml')
    # trial and error to get the exact positions
    table_data = [x.text for x in soup.select('tr td')[11:511]]  
    # put every 5 values in a row
    temp_list = [table_data[i:i+5] for i in range(0, len(table_data[:-4]), 5)] 
    for temp in temp_list:
        movie_list.append(temp)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150

In [3]:
# review final list to ensure accuarcy
movie_list

[['1', 'Star Wars: The Force Awakens', 'BV', '$936,662,225', '2015'],
 ['2', 'Avatar', 'Fox', '$760,507,625', '2009^'],
 ['3', 'Black Panther', 'BV', '$700,059,566', '2018'],
 ['4', 'Avengers: Infinity War', 'BV', '$678,690,536', '2018'],
 ['5', 'Titanic', 'Par.', '$659,363,944', '1997^'],
 ['6', 'Jurassic World', 'Uni.', '$652,270,625', '2015'],
 ['7', "Marvel's The Avengers", 'BV', '$623,357,910', '2012'],
 ['8', 'Star Wars: The Last Jedi', 'BV', '$620,181,382', '2017'],
 ['9', 'Incredibles 2', 'BV', '$597,247,671', '2018'],
 ['10', 'The Dark Knight', 'WB', '$534,858,444', '2008^'],
 ['11', 'Rogue One: A Star Wars Story', 'BV', '$532,177,324', '2016'],
 ['12', 'Beauty and the Beast (2017)', 'BV', '$504,014,165', '2017'],
 ['13', 'Finding Dory', 'BV', '$486,295,561', '2016'],
 ['14',
  'Star Wars: Episode I - The Phantom Menace',
  'Fox',
  '$474,544,677',
  '1999^'],
 ['15', 'Star Wars', 'Fox', '$460,998,007', '1977^'],
 ['16', 'Avengers: Age of Ultron', 'BV', '$459,005,868', '2015'],
 ['17', 'The Dark Knight Rises', 'WB', '$448,139,099', '2012'],
 ['18', 'Shrek 2', 'DW', '$441,226,247', '2004'],
 ['19', 'E.T.: The Extra-Terrestrial', 'Uni.', '$435,110,554', '1982^'],
 ['20', 'The Hunger Games: Catching Fire', 'LGF', '$424,668,047', '2013'],
 ['21',
  "Pirates of the Caribbean: Dead Man's Chest",
  'BV',
  '$423,315,812',
  '2006'],
 ['22', 'The Lion King', 'BV', '$422,783,777', '1994^'],
 ['23', 'Toy Story 3', 'BV', '$415,004,880', '2010'],
 ['24', 'Jurassic World: Fallen Kingdom', 'Uni.', '$413,080,780', '2018'],
 ['25', 'Wonder Woman', 'WB', '$412,563,408', '2017'],
 ['26', 'Iron Man 3', 'BV', '$409,013,994', '2013'],
 ['27', 'Captain America: Civil War', 'BV', '$408,084,349', '2016'],
 ['28', 'The Hunger Games', 'LGF', '$408,010,692', '2012'],
 ['29', 'Jumanji: Welcome to the Jungle', 'Sony', '$404,515,480', '2017'],
 ['30', 'Spider-Man', 'Sony', '$403,706,375', '2002'],
 ['31', 'Jurassic Park', 'Uni.', '$402,453,882', '1993^'],
 ['32', 'Transformers: Revenge of the Fallen', 'P/DW', '$402,111,870', '2009'],
 ['33', 'Frozen', 'BV', '$400,738,009', '2013'],
 ['34', 'Guardians of the Galaxy Vol. 2', 'BV', '$389,813,101', '2017'],
 ['35',
  'Harry Potter and the Deathly Hallows Part 2',
  'WB',
  '$381,011,219',
  '2011'],
 ['36', 'Finding Nemo', 'BV', '$380,843,261', '2003^'],
 ['37',
  'Star Wars: Episode III - Revenge of the Sith',
  'Fox',
  '$380,270,577',
  '2005^'],
 ['38',
  'The Lord of the Rings: The Return of the King',
  'NL',
  '$377,845,905',
  '2003^'],
 ['39', 'Spider-Man 2', 'Sony', '$373,585,825', '2004'],
 ['40', 'The Passion of the Christ', 'NM', '$370,782,930', '2004^'],
 ['41', 'The Secret Life of Pets', 'Uni.', '$368,384,330', '2016'],
 ['42', 'Despicable Me 2', 'Uni.', '$368,061,265', '2013'],
 ['43', 'The Jungle Book (2016)', 'BV', '$364,001,123', '2016'],
 ['44', 'Deadpool', 'Fox', '$363,070,709', '2016'],
 ['45', 'Inside Out', 'BV', '$356,461,711', '2015'],
 ['46', 'Furious 7', 'Uni.', '$353,007,020', '2015'],
 ['47', 'Transformers: Dark of the Moon', 'P/DW', '$352,390,543', '2011'],
 ['48', 'American Sniper', 'WB', '$350,126,372', '2014'],
 ['49',
  'The Lord of the Rings: The Two Towers',
  'NL',
  '$342,551,365',
  '2002^'],
 ['50', 'Zootopia', 'BV', '$341,268,248', '2016'],
 ['51',
  'The Hunger Games: Mockingjay - Part 1',
  'LGF',
  '$337,135,885',
  '2014'],
 ['52', 'Spider-Man 3', 'Sony', '$336,530,303', '2007'],
 ['53', 'Minions', 'Uni.', '$336,045,770', '2015'],
 ['54', 'Spider-Man: Homecoming', 'Sony', '$334,201,140', '2017'],
 ['55', 'Alice in Wonderland (2010)', 'BV', '$334,191,110', '2010'],
 ['56', 'Guardians of the Galaxy', 'BV', '$333,176,600', '2014'],
 ['57', 'Batman v Superman: Dawn of Justice', 'WB', '$330,360,194', '2016'],
 ['58', 'Forrest Gump', 'Par.', '$330,252,182', '1994^'],
 ['59', 'It', 'WB (NL)', '$327,481,748', '2017'],
 ['60', 'Suicide Squad', 'WB', '$325,100,054', '2016'],
 ['61', 'Shrek the Third', 'P/DW', '$322,719,944', '2007'],
 ['62', 'Transformers', 'P/DW', '$319,246,193', '2007'],
 ['63', 'Iron Man', 'Par.', '$318,412,101', '2008'],
 ['64', 'Deadpool 2', 'Fox', '$318,402,623', '2018'],
 ['65', "Harry Potter and the Sorcerer's Stone", 'WB', '$317,575,550', '2001'],
 ['66',
  'Indiana Jones and the Kingdom of the Crystal Skull',
  'Par.',
  '$317,101,119',
  '2008'],
 ['67',
  'The Lord of the Rings: The Fellowship of the Ring',
  'NL',
  '$315,544,750',
  '2001^'],
 ['68', 'Thor: Ragnarok', 'BV', '$315,058,289', '2017'],
 ['69', 'Iron Man 2', 'Par.', '$312,433,331', '2010'],
 ['70',
  'Star Wars: Episode II - Attack of the Clones',
  'Fox',
  '$310,676,740',
  '2002^'],
 ['71',
  "Pirates of the Caribbean: At World's End",
  'BV',
  '$309,420,425',
  '2007'],
 ['72', 'Return of the Jedi', 'Fox', '$309,306,177', '1983^'],
 ['73', 'Independence Day', 'Fox', '$306,169,268', '1996^'],
 ['74',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  'BV',
  '$305,413,918',
  '2003'],
 ['75', 'Skyfall', 'Sony', '$304,360,277', '2012'],
 ['76',
  'The Hobbit: An Unexpected Journey',
  'WB (NL)',
  '$303,003,568',
  '2012'],
 ['77',
  'Harry Potter and the Half-Blood Prince',
  'WB',
  '$301,959,197',
  '2009'],
 ['78', 'The Twilight Saga: Eclipse', 'Sum.', '$300,531,751', '2010'],
 ['79', 'The Twilight Saga: New Moon', 'Sum.', '$296,623,634', '2009'],
 ['80',
  'Harry Potter and the Deathly Hallows Part 1',
  'WB',
  '$295,983,305',
  '2010'],
 ['81', 'The Sixth Sense', 'BV', '$293,506,292', '1999'],
 ['82', 'Up', 'BV', '$293,004,164', '2009'],
 ['83', 'Inception', 'WB', '$292,576,195', '2010'],
 ['84',
  'The Twilight Saga: Breaking Dawn Part 2',
  'LG/S',
  '$292,324,737',
  '2012'],
 ['85',
  'Harry Potter and the Order of the Phoenix',
  'WB',
  '$292,004,738',
  '2007'],
 ['86',
  'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  'BV',
  '$291,710,957',
  '2005'],
 ['87', 'Man of Steel', 'WB', '$291,045,518', '2013'],
 ['88', 'The Empire Strikes Back', 'Fox', '$290,475,067', '1980^'],
 ['89', 'Harry Potter and the Goblet of Fire', 'WB', '$290,013,036', '2005'],
 ['90', 'Monsters, Inc.', 'BV', '$289,916,256', '2001^'],
 ['91', 'Home Alone', 'Fox', '$285,761,243', '1990'],
 ['92',
  'The Hunger Games: Mockingjay - Part 2',
  'LGF',
  '$281,723,902',
  '2015'],
 ['93', 'The Matrix Reloaded', 'WB', '$281,576,461', '2003'],
 ['94',
  'The Twilight Saga: Breaking Dawn Part 1',
  'Sum.',
  '$281,287,133',
  '2011'],
 ['95', 'Meet the Fockers', 'Uni.', '$279,261,160', '2004'],
 ['96', 'The Hangover', 'WB', '$277,322,503', '2009'],
 ['97', 'Gravity', 'WB', '$274,092,705', '2013'],
 ['98', 'Sing', 'Uni.', '$270,395,425', '2016'],
 ['99', 'Monsters University', 'BV', '$268,492,764', '2013'],
 ['100', 'Shrek', 'DW', '$267,665,011', '2001'],
 ['101', 'Despicable Me 3', 'Uni.', '$264,624,300', '2017'],
 ['102', 'The Amazing Spider-Man', 'Sony', '$262,030,663', '2012'],
 ['103',
  'Harry Potter and the Chamber of Secrets',
  'WB',
  '$261,988,482',
  '2002'],
 ['104', 'The Incredibles', 'BV', '$261,441,092', '2004'],
 ['105', 'How the Grinch Stole Christmas', 'Uni.', '$260,044,825', '2000'],
 ['106', 'Jaws', 'Uni.', '$260,000,000', '1975'],
 ['107', 'Captain America: The Winter Soldier', 'BV', '$259,766,572', '2014'],
 ['108',
  'The Hobbit: The Desolation of Smaug',
  'WB (NL)',
  '$258,366,855',
  '2013'],
 ['109', 'The LEGO Movie', 'WB', '$257,760,692', '2014'],
 ['110', 'Star Trek', 'Par.', '$257,730,019', '2009'],
 ['111', 'I Am Legend', 'WB', '$256,393,010', '2007'],
 ['112', 'The Blind Side', 'WB', '$255,959,475', '2009'],
 ['113',
  'The Hobbit: The Battle of the Five Armies',
  'WB (NL)',
  '$255,119,788',
  '2014'],
 ['114', 'The Hangover Part II', 'WB', '$254,464,305', '2011'],
 ['115', 'Despicable Me', 'Uni.', '$251,513,985', '2010'],
 ['116', 'Batman', 'WB', '$251,188,924', '1989'],
 ['117', 'Night at the Museum', 'Fox', '$250,863,268', '2006'],
 ['118', 'Men in Black', 'Sony', '$250,690,539', '1997'],
 ['119',
  'Harry Potter and the Prisoner of Azkaban',
  'WB',
  '$249,541,069',
  '2004'],
 ['120', 'Moana', 'BV', '$248,757,044', '2016'],
 ['121', 'Raiders of the Lost Ark', 'Par.', '$248,159,971', '1981^'],
 ['122', 'Toy Story 2', 'BV', '$245,852,179', '1999^'],
 ['123', 'Transformers: Age of Extinction', 'Par.', '$245,439,076', '2014'],
 ['124', 'Cars', 'BV', '$244,082,982', '2006'],
 ['125', 'Bruce Almighty', 'Uni.', '$242,829,261', '2003'],
 ['126', 'Ghostbusters', 'Col.', '$242,212,467', '1984^'],
 ['127', 'Twister', 'WB', '$241,721,524', '1996'],
 ['128', 'My Big Fat Greek Wedding', 'IFC', '$241,438,208', '2002'],
 ['129', 'Maleficent', 'BV', '$241,410,378', '2014'],
 ['130',
  'Pirates of the Caribbean: On Stranger Tides',
  'BV',
  '$241,071,802',
  '2011'],
 ['131', 'Shrek Forever After', 'P/DW', '$238,736,787', '2010'],
 ['132', 'Fast & Furious 6', 'Uni.', '$238,679,850', '2013'],
 ['133', 'Brave', 'BV', '$237,283,207', '2012'],
 ['134', 'Oz The Great and Powerful', 'BV', '$234,911,825', '2013'],
 ['135', 'Beverly Hills Cop', 'Par.', '$234,760,478', '1984'],
 ['136', 'X-Men: The Last Stand', 'Fox', '$234,362,462', '2006'],
 ['137', 'War of the Worlds', 'Par.', '$234,280,354', '2005'],
 ['138',
  'Fantastic Beasts and Where To Find Them',
  'WB',
  '$234,037,575',
  '2016'],
 ['139', 'X-Men: Days of Future Past', 'Fox', '$233,921,534', '2014'],
 ['140', 'Cast Away', 'Fox', '$233,632,142', '2000'],
 ['141', 'The Exorcist', 'WB', '$232,906,145', '1973^'],
 ['142', 'Doctor Strange', 'BV', '$232,641,920', '2016'],
 ['143', 'The Lost World: Jurassic Park', 'Uni.', '$229,086,679', '1997'],
 ['144', 'Justice League', 'WB', '$229,024,295', '2017'],
 ['145', 'Star Trek Into Darkness', 'Par.', '$228,778,661', '2013'],
 ['146', 'The Martian', 'Fox', '$228,433,663', '2015'],
 ['147', 'Signs', 'BV', '$227,966,634', '2002'],
 ['148', 'Hancock', 'Sony', '$227,946,274', '2008'],
 ['149', 'The Bourne Ultimatum', 'Uni.', '$227,471,070', '2007'],
 ['150', 'Logan', 'Fox', '$226,277,068', '2017'],
 ['151', 'Rush Hour 2', 'NL', '$226,164,286', '2001'],
 ['152', 'The Fate of the Furious', 'Uni.', '$226,008,385', '2017'],
 ['153', 'WALL-E', 'BV', '$223,808,164', '2008'],
 ['154', 'Big Hero 6', 'BV', '$222,527,828', '2014'],
 ['155', 'National Treasure: Book of Secrets', 'BV', '$219,964,115', '2007'],
 ['156',
  'Alvin and the Chipmunks: The Squeakquel',
  'Fox',
  '$219,614,612',
  '2009'],
 ['157', 'Mrs. Doubtfire', 'Fox', '$219,195,243', '1993'],
 ['158', 'Beauty and the Beast', 'BV', '$218,967,620', '1991^'],
 ['159', 'Ted', 'Uni.', '$218,815,487', '2012'],
 ['160', 'King Kong', 'Uni.', '$218,080,025', '2005'],
 ['161', 'Ghost', 'Par.', '$217,631,306', '1990'],
 ['162', 'How to Train Your Dragon', 'P/DW', '$217,581,231', '2010'],
 ['163', 'The Da Vinci Code', 'Sony', '$217,536,138', '2006'],
 ['164', 'Aladdin', 'BV', '$217,350,219', '1992'],
 ['165', 'Alvin and the Chipmunks', 'Fox', '$217,326,974', '2007'],
 ['166', 'Saving Private Ryan', 'DW', '$216,540,909', '1998'],
 ['167', "Madagascar 3: Europe's Most Wanted", 'P/DW', '$216,391,482', '2012'],
 ['168', 'Kung Fu Panda', 'P/DW', '$215,434,591', '2008'],
 ['169', 'Mission: Impossible II', 'Par.', '$215,409,889', '2000'],
 ['170', 'X2: X-Men United', 'Fox', '$214,949,694', '2003'],
 ['171', "Dr. Seuss' The Lorax", 'Uni.', '$214,030,500', '2012'],
 ['172', 'Solo: A Star Wars Story', 'BV', '$213,601,143', '2018'],
 ['173', 'Austin Powers in Goldmember', 'NL', '$213,307,889', '2002'],
 ['174', 'Ant-Man and the Wasp', 'BV', '$211,630,916', '2018'],
 ['175', '300', 'WB', '$210,614,939', '2007'],
 ['176', 'Back to the Future', 'Uni.', '$210,609,762', '1985'],
 ['177', 'Fast Five', 'Uni.', '$209,837,675', '2011'],
 ['178', 'Coco', 'BV', '$209,726,015', '2017'],
 ['179',
  'Mission: Impossible - Ghost Protocol',
  'Par.',
  '$209,397,903',
  '2011'],
 ['180', 'Wedding Crashers', 'NL', '$209,255,921', '2005'],
 ['181', 'Sherlock Holmes', 'WB', '$209,028,679', '2009'],
 ['182', 'Dawn of the Planet of the Apes', 'Fox', '$208,545,589', '2014'],
 ['183', 'Batman Begins', 'WB', '$206,852,432', '2005^'],
 ['184', 'Charlie and the Chocolate Factory', 'WB', '$206,459,076', '2005'],
 ['185', 'Ratatouille', 'BV', '$206,445,654', '2007'],
 ['186', 'Thor: The Dark World', 'BV', '$206,362,140', '2013'],
 ['187',
  'Austin Powers: The Spy Who Shagged Me',
  'NL',
  '$206,040,086',
  '1999'],
 ['188', 'Terminator 2: Judgment Day', 'TriS', '$205,881,154', '1991^'],
 ['189', 'The Amazing Spider-Man 2', 'Sony', '$202,853,933', '2014'],
 ['190', 'World War Z', 'Par.', '$202,359,711', '2013'],
 ['191', 'The Mummy Returns', 'Uni.', '$202,019,785', '2001'],
 ['192', 'Armageddon', 'BV', '$201,578,182', '1998'],
 ['193', 'Cinderella (2015)', 'BV', '$201,151,353', '2015'],
 ['194', 'Tangled', 'BV', '$200,821,936', '2010'],
 ['195', 'Godzilla (2014)', 'WB', '$200,676,069', '2014'],
 ['196', 'Superman Returns', 'WB', '$200,081,192', '2006'],
 ['197', 'Spectre', 'Sony', '$200,074,609', '2015'],
 ['198', 'Gone with the Wind', 'MGM', '$198,676,459', '1939^'],
 ['199', 'Pearl Harbor', 'BV', '$198,542,554', '2001'],
 ['200', 'Monsters Vs. Aliens', 'P/DW', '$198,351,526', '2009'],
 ['201', 'Happy Feet', 'WB', '$198,000,317', '2006'],
 ['202', 'Indiana Jones and the Last Crusade', 'Par.', '$197,171,806', '1989'],
 ['203', 'Ice Age: Dawn of the Dinosaurs', 'Fox', '$196,573,705', '2009'],
 ['204', 'Ice Age: The Meltdown', 'Fox', '$195,330,621', '2006'],
 ['205', 'Mission: Impossible - Rogue Nation', 'Par.', '$195,042,377', '2015'],
 ['206', 'Mission: Impossible - Fallout', 'Par.', '$194,713,111', '2018'],
 ['207', 'Madagascar', 'DW', '$193,595,521', '2005'],
 ['208', 'Twilight', 'Sum.', '$192,769,854', '2008'],
 ['209', 'Toy Story', 'BV', '$191,796,233', '1995^'],
 ['210', '22 Jump Street', 'Sony', '$191,719,337', '2014'],
 ['211', 'Cars 2', 'BV', '$191,452,396', '2011'],
 ['212',
  'Teenage Mutant Ninja Turtles (2014)',
  'Par.',
  '$191,204,754',
  '2014'],
 ['213', 'Men in Black II', 'Sony', '$190,418,803', '2002'],
 ['214', 'Dunkirk', 'WB', '$190,068,280', '2017^'],
 ['215', 'Wreck-It Ralph', 'BV', '$189,422,889', '2012'],
 ['216', 'Grease', 'Par.', '$188,755,690', '1978^'],
 ['217', 'A Quiet Place', 'Par.', '$188,024,361', '2018'],
 ['218', 'Interstellar', 'Par.', '$188,020,017', '2014'],
 ['219', 'Gladiator', 'DW', '$187,705,427', '2000'],
 ['220', 'The Croods', 'Fox', '$187,168,425', '2013'],
 ['221', 'Sherlock Holmes: A Game of Shadows', 'WB', '$186,848,418', '2011'],
 ['222', 'The Day After Tomorrow', 'Fox', '$186,740,799', '2004'],
 ['223', 'The Polar Express', 'WB', '$186,493,472', '2004^'],
 ['224', 'Mr. & Mrs. Smith', 'Fox', '$186,336,279', '2005'],
 ['225', 'Snow White and the Seven Dwarfs', 'Dis.', '$184,925,486', '1937^'],
 ['226', 'Pitch Perfect 2', 'Uni.', '$184,296,230', '2015'],
 ['227', 'Dances with Wolves', 'Orion', '$184,208,848', '1990'],
 ['228', 'Batman Forever', 'WB', '$184,031,112', '1995'],
 ['229', 'The Fugitive', 'WB', '$183,875,760', '1993'],
 ['230', 'The Revenant', 'Fox', '$183,637,894', '2015'],
 ['231', "Ocean's Eleven", 'WB', '$183,417,150', '2001'],
 ['232', 'The Simpsons Movie', 'Fox', '$183,135,014', '2007'],
 ['233', 'What Women Want', 'Par.', '$182,811,707', '2000'],
 ['234', 'The Perfect Storm', 'WB', '$182,618,434', '2000'],
 ['235', 'Lincoln', 'BV', '$182,207,973', '2012'],
 ['236', 'Liar Liar', 'Uni.', '$181,410,615', '1997'],
 ['237', 'Jurassic Park III', 'Uni.', '$181,171,875', '2001'],
 ['238', 'Thor', 'Par.', '$181,030,624', '2011'],
 ['239', 'Mission: Impossible', 'Par.', '$180,981,856', '1996'],
 ['240', 'Ant-Man', 'BV', '$180,202,163', '2015'],
 ['241', 'Planet of the Apes (2001)', 'Fox', '$180,011,740', '2001'],
 ['242', 'Madagascar: Escape 2 Africa', 'P/DW', '$180,010,950', '2008'],
 ['243', 'X-Men Origins: Wolverine', 'Fox', '$179,883,157', '2009'],
 ['244',
  'Indiana Jones and the Temple of Doom',
  'Par.',
  '$179,870,271',
  '1984'],
 ['245', 'Top Gun', 'Par.', '$179,800,601', '1986^'],
 ['246', 'Hitch', 'Sony', '$179,495,555', '2005'],
 ['247', 'MIB 3', 'Sony', '$179,020,854', '2012'],
 ['248', 'Pretty Woman', 'BV', '$178,406,268', '1990'],
 ['249', 'Home (2015)', 'Fox', '$177,397,510', '2015'],
 ['250',
  'Night at the Museum: Battle of the Smithsonian',
  'Fox',
  '$177,243,721',
  '2009'],
 ['251', 'Tootsie', 'Col.', '$177,200,000', '1982'],
 ['252', 'How to Train Your Dragon 2', 'Fox', '$177,002,924', '2014'],
 ['253', 'Rise of the Planet of the Apes', 'Fox', '$176,760,185', '2011'],
 ['254', 'Captain America: The First Avenger', 'Par.', '$176,654,505', '2011'],
 ['255', 'The Karate Kid', 'Sony', '$176,591,618', '2010'],
 ['256', "There's Something About Mary", 'Fox', '$176,484,651', '1998'],
 ['257', 'Ice Age', 'Fox', '$176,387,405', '2002'],
 ['258', 'The Bourne Supremacy', 'Uni.', '$176,241,941', '2004'],
 ['259', 'Get Out', 'Uni.', '$176,040,665', '2017'],
 ['260', 'The LEGO Batman Movie', 'WB', '$175,750,384', '2017'],
 ['261', 'The Boss Baby', 'Fox', '$175,003,033', '2017'],
 ['262', 'Crocodile Dundee', 'Par.', '$174,803,506', '1986'],
 ['263', 'The Greatest Showman', 'Fox', '$174,340,174', '2017'],
 ['264', 'Apollo 13', 'Uni.', '$173,837,933', '1995^'],
 ['265', 'Home Alone 2: Lost in New York', 'Fox', '$173,585,516', '1992'],
 ['266', 'Elf', 'NL', '$173,398,518', '2003'],
 ['267', 'National Treasure', 'BV', '$173,008,894', '2004'],
 ['268', 'Air Force One', 'Sony', '$172,956,409', '1997'],
 ['269', 'Rain Man', 'MGM', '$172,825,435', '1988'],
 ['270',
  'Pirates of the Caribbean: Dead Men Tell No Tales',
  'BV',
  '$172,558,876',
  '2017'],
 ['271', 'Tron Legacy', 'BV', '$172,062,763', '2010'],
 ['272', 'The Matrix', 'WB', '$171,479,930', '1999'],
 ['273', 'True Grit', 'Par.', '$171,243,005', '2010'],
 ['274', 'Tarzan', 'BV', '$171,091,819', '1999'],
 ['275', 'A Beautiful Mind', 'Uni.', '$170,742,341', '2001'],
 ['276', 'Chicago', 'Mira.', '$170,687,518', '2002'],
 ['277', 'The Help', 'BV', '$169,708,112', '2011'],
 ['278', 'Hotel Transylvania 2', 'Sony', '$169,700,110', '2015'],
 ['279', 'Hidden Figures', 'Fox', '$169,607,287', '2016'],
 ['280', 'Bridesmaids', 'Uni.', '$169,106,725', '2011'],
 ['281', 'Quantum of Solace', 'Sony', '$168,368,427', '2008'],
 ['282', 'Wild Hogs', 'BV', '$168,273,550', '2007'],
 ['283', 'Kong: Skull Island', 'WB', '$168,052,812', '2017'],
 ['284', 'Three Men and a Baby', 'BV', '$167,780,960', '1987'],
 ['285', 'Gone Girl', 'Fox', '$167,767,189', '2014'],
 ['286', 'Casino Royale', 'Sony', '$167,445,960', '2006'],
 ['287', 'Meet the Parents', 'Uni.', '$166,244,045', '2000'],
 ['288', 'Fifty Shades of Grey', 'Uni.', '$166,167,230', '2015'],
 ['289', '2012', 'Sony', '$166,112,167', '2009'],
 ['290', 'Robin Hood: Prince of Thieves', 'WB', '$165,493,908', '1991'],
 ['291', 'Kung Fu Panda 2', 'P/DW', '$165,249,063', '2011'],
 ['292', 'Hannibal', 'MGM', '$165,092,268', '2001'],
 ['293', 'Catch Me If You Can', 'DW', '$164,615,351', '2002'],
 ['294', 'The Proposal', 'BV', '$163,958,031', '2009'],
 ['295', 'The Pursuit of Happyness', 'Sony', '$163,566,459', '2006'],
 ['296', 'Big Daddy', 'Sony', '$163,479,795', '1999'],
 ['297', 'Clash of the Titans (2010)', 'WB', '$163,214,888', '2010'],
 ['298',
  'The SpongeBob Movie: Sponge Out of Water',
  'Par.',
  '$162,994,032',
  '2015'],
 ['299', 'Batman Returns', 'WB', '$162,831,698', '1992'],
 ['300', 'Django Unchained', 'Wein.', '$162,805,434', '2012'],
 ['301', "A Bug's Life", 'BV', '$162,798,565', '1998'],
 ['302', 'Jason Bourne', 'Uni.', '$162,434,410', '2016'],
 ['303', 'Grown Ups', 'Sony', '$162,001,186', '2010'],
 ['304', 'The Waterboy', 'BV', '$161,491,646', '1998'],
 ['305', 'Ice Age: Continental Drift', 'Fox', '$161,321,843', '2012'],
 ['306', 'Straight Outta Compton', 'Uni.', '$161,197,785', '2015'],
 ['307', 'Die Another Day', 'MGM', '$160,942,139', '2002'],
 ['308', 'Shark Tale', 'DW', '$160,861,908', '2004'],
 ['309', 'The Heat', 'Fox', '$159,582,188', '2013'],
 ['310',
  'Hotel Transylvania 3: Summer Vacation',
  'Sony',
  '$158,946,600',
  '2018'],

In [4]:
# convert list to a Dataframe
df = pd.DataFrame.from_records(movie_list)
print(df.shape)
df.head(10)

(15500, 5)

    0                             1     2             3      4
0   1  Star Wars: The Force Awakens    BV  $936,662,225   2015
1   2                        Avatar   Fox  $760,507,625  2009^
2   3                 Black Panther    BV  $700,059,566   2018
3   4        Avengers: Infinity War    BV  $678,690,536   2018
4   5                       Titanic  Par.  $659,363,944  1997^
5   6                Jurassic World  Uni.  $652,270,625   2015
6   7         Marvel's The Avengers    BV  $623,357,910   2012
7   8      Star Wars: The Last Jedi    BV  $620,181,382   2017
8   9                 Incredibles 2    BV  $597,247,671   2018
9  10               The Dark Knight    WB  $534,858,444  2008^

### Step Two - Review & Clean the data

In [5]:
# rename the columns
df.columns = ['rank', 'title', 'studio', 'lifetime_gross', 'year']

In [6]:
df.head()

  rank                         title studio lifetime_gross   year
0    1  Star Wars: The Force Awakens     BV   $936,662,225   2015
1    2                        Avatar    Fox   $760,507,625  2009^
2    3                 Black Panther     BV   $700,059,566   2018
3    4        Avengers: Infinity War     BV   $678,690,536   2018
4    5                       Titanic   Par.   $659,363,944  1997^

In [7]:
# we have some characters to remove to 'clean' up: '$', ',' '^', ':'
# review the year column
df['year'].unique()

array(['2015', '2009^', '2018', '1997^', '2012', '2017', '2008^', '2016',
       '1999^', '1977^', '2004', '1982^', '2013', '2006', '1994^', '2010',
       '2002', '1993^', '2009', '2011', '2003^', '2005^', '2004^', '2014',
       '2002^', '2007', '2008', '2001', '2001^', '1983^', '1996^', '2003',
       '1999', '2005', '1980^', '1990', '2000', '1975', '1989', '1997',
       '1981^', '1984^', '1996', '1984', '1973^', '1993', '1991^', '1992',
       '1998', '1985', '1939^', '1995^', '2017^', '1978^', '1937^',
       '1995', '1986^', '1982', '1986', '1988', '1987', '1991', '1965',
       '1973', '2015^', '1994', '1961^', '1967^', '2010^', '1972^',
       '1978', '2013^', '1977', '1992^', '1974^', '1990^', '1981', '1976',
       '1974', '1989^', '1983', '1970', '1979', '1980', '1969', '1964^',
       '1942^', '1985^', '1955^', '1950^', '1953^', '1972', '1940^',
       '1979^', '1941^', '1988^', '1959', '1964', '1956', '1987^',
       '2000^', '1968^', '1963', '1998^', '1967', '1971', '1959^',
       '1962^', '1968', '1960', '1954^', '1952', '1953', '1976^', '1966',
       '1957', '1946', '1954', '1945', '1941', '1971^', '1921', '2016^',
       '1958^', '2006^', '2011^', '2012^', '1960^', '1952^', '1927^',
       '1926', '1957^', 'n/a', '1969^', '1975^', '1949^', '1956^',
       '1947^', '2014^', '1936^', '1963^', '2007^', '1931^', '1970^'],
      dtype=object)

In [8]:
# we have 'n/a' in the data, how many and where?
df[df['year'] == 'n/a']

,rank,title,studio,lifetime_gross,year
8088,8089,Warner Bros. 75th Anniversary Film Festival,WB,"$741,855",n/a
8232,8233,Hum Aapke Dil Mein Rahte Hain,Eros,"$668,678",n/a
8282,8283,Purple Moon (Re-issue),Mira.,"$640,945",n/a
10598,10599,Amarcord,Jan.,"$125,493",n/a

In [9]:
# not relevant so we will delete the 'n/a'
# find the index and remove the 'n/a' items that match
na_year_idx =  [i for i, x in enumerate(movie_list) if x[4] == 'n/a'] # get the indexes of the 'n/a' values
na_year_idx = set(na_year_idx)
final_list = [v for i, v in enumerate(movie_list) if i not in na_year_idx]

In [10]:
# double check to ensure we removed 4 items
len(final_list)

15496

In [11]:
# create dataframe
# remove special characters
# rename columns
# change data types where applicable

import re
regex = '|'.join(['\$', ',', '\^']) # list of special chars to remove

columns = ['rank', 'title', 'studio', 'lifetime_gross', 'year']

bom_df = pd.DataFrame({
    'rank': [int(x[0]) for x in final_list],
    'title': [x[1] for x in final_list],
    'studio': [x[2] for x in final_list],
    'lifetime_gross': [int(re.sub(regex, '', x[3])) for x in final_list],  
    'year': [int(re.sub(regex, '', str(x[4]))) for x in final_list],  }) 

print(bom_df.shape)
bom_df.head(10)

(15496, 5)

   rank                         title studio  lifetime_gross  year
0     1  Star Wars: The Force Awakens     BV       936662225  2015
1     2                        Avatar    Fox       760507625  2009
2     3                 Black Panther     BV       700059566  2018
3     4        Avengers: Infinity War     BV       678690536  2018
4     5                       Titanic   Par.       659363944  1997
5     6                Jurassic World   Uni.       652270625  2015
6     7         Marvel's The Avengers     BV       623357910  2012
7     8      Star Wars: The Last Jedi     BV       620181382  2017
8     9                 Incredibles 2     BV       597247671  2018
9    10               The Dark Knight     WB       534858444  2008

In [12]:
# check datatypes
bom_df.dtypes

rank               int64
title             object
studio            object
lifetime_gross     int64
year               int64
dtype: object

In [13]:
# quick stats
bom_df.describe()

               rank  lifetime_gross          year
count  15496.000000    1.549600e+04  15496.000000
mean    7750.228833    1.826879e+07   2003.388358
std     4475.123375    4.588610e+07     11.187391
min        1.000000    1.808000e+03   1921.000000
25%     3874.750000    6.218275e+04   1996.000000
50%     7748.500000    9.765930e+05   2006.000000
75%    11626.250000    1.544961e+07   2012.000000
max    15500.000000    9.366622e+08   2018.000000

In [14]:
# review the year
print(bom_df['year'].unique())
print()
print(bom_df['year'].max())
print(bom_df['year'].min())

[2015 2009 2018 1997 2012 2017 2008 2016 1999 1977 2004 1982 2013 2006
 1994 2010 2002 1993 2011 2003 2005 2014 2007 2001 1983 1996 1980 1990
 2000 1975 1989 1981 1984 1973 1991 1992 1998 1985 1939 1995 1978 1937
 1986 1988 1987 1965 1961 1967 1972 1974 1976 1970 1979 1969 1964 1942
 1955 1950 1953 1940 1941 1959 1956 1968 1963 1971 1962 1960 1954 1952
 1966 1957 1946 1945 1921 1958 1927 1926 1949 1947 1936 1931]

2018
1921

In [15]:
print(bom_df['lifetime_gross'].max())
print(bom_df['lifetime_gross'].min())

936662225
1808

15,496 movies 

Year ranges from 1921 - 2018

Life_time Gross ranges from \$1,788 to \$936,662,225

### Step Three - Calculate Absolute Frequency, Weighted Frequency and Relative Value of Words in Movie Titles

In [16]:
# to account for duplicates we will lowercase all words: example The and the are the same. 

from collections import defaultdict

def word_frequency(text_list, num_list, sep=None):
    word_freq = defaultdict(lambda: [0, 0])

    for text, num in zip(text_list, num_list):
        for word in text.split(sep=sep): 
            word_freq[word.lower()][0] += 1 
            word_freq[word.lower()][1] += num

    columns = {0: 'abs_freq', 1: 'wtd_freq'}

    abs_wtd_df = (pd.DataFrame.from_dict(word_freq, orient='index')
                 .rename(columns=columns )
                 .sort_values('abs_freq', ascending=False)
                 .assign(rel_value=lambda df: df['wtd_freq'] / df['abs_freq']).round())

    abs_wtd_df.insert(1, 'abs_perc', value=abs_wtd_df['abs_freq'] / abs_wtd_df['abs_freq'].sum())
    abs_wtd_df.insert(2, 'abs_perc_cum', abs_wtd_df['abs_perc'].cumsum())
    abs_wtd_df.insert(4, 'wtd_freq_perc', abs_wtd_df['wtd_freq'] / abs_wtd_df['wtd_freq'].sum())
    abs_wtd_df.insert(5, 'wtd_freq_perc_cum', abs_wtd_df['wtd_freq_perc'].cumsum())

    return abs_wtd_df
word_freq_df = word_frequency(bom_df['title'], bom_df['lifetime_gross'])
word_freq_df.head(10).style.bar(['abs_freq', 'wtd_freq', 'rel_value'], color='#edc993')

- So, the top words are stop words. 'the' is the top word and is in %10 of all movie titles.

- Let's refine and remove selected stopwords and recalulate:
'of','in', 'to', 'and', 'a', 'the', 'for', 'on', '&', 'is', 'at', 'it', 'from', 'with'

In [17]:
def word_frequency(text_list, num_list, sep=None, rm_words=('of','in', 'to', 'and', 'a', 'the', 
                                         'for', 'on', '&', 'is', 'at', 'it',
                                         'from', 'with')):  
    word_freq = defaultdict(lambda: [0, 0])

    for text, num in zip(text_list, num_list):
        for word in text.split(sep=sep): 
            # This should take care of ignoring the word if it's in the stop words
            if word.lower() in rm_words:  
                continue                  
            # .lower() makes sure we are not duplicating words
            word_freq[word.lower()][0] += 1  
            word_freq[word.lower()][1] += num

    columns = {0: 'abs_freq', 1: 'wtd_freq'}

    abs_wtd_df = (pd.DataFrame.from_dict(word_freq, orient='index')
                 .rename(columns=columns )
                 .sort_values('abs_freq', ascending=False)
                 .assign(rel_value=lambda df: df['wtd_freq'] / df['abs_freq']).round())

    abs_wtd_df.insert(1, 'abs_perc', value=abs_wtd_df['abs_freq'] / abs_wtd_df['abs_freq'].sum())
    abs_wtd_df.insert(2, 'abs_perc_cum', abs_wtd_df['abs_perc'].cumsum())
    abs_wtd_df.insert(4, 'wtd_freq_perc', abs_wtd_df['wtd_freq'] / abs_wtd_df['wtd_freq'].sum())
    abs_wtd_df.insert(5, 'wtd_freq_perc_cum', abs_wtd_df['wtd_freq_perc'].cumsum())

    abs_wtd_df = abs_wtd_df.reset_index().rename(columns={'index': 'word'})

    return abs_wtd_df
word_freq_df = word_frequency(bom_df['title'], bom_df['lifetime_gross'])
word_freq_df.head(10).style.bar(['abs_freq', 'wtd_freq', 'rel_value'], color='#edc993')

In [18]:
(word_freq_df.sort_values('wtd_freq', ascending=False)
 .head(10)
    .style.bar(['abs_freq', 'wtd_freq', 'rel_value'],
               color='#edc993'))

In [19]:
(word_freq_df.sort_values('rel_value', ascending=False)
 .head(10)
    .style.bar(['abs_freq', 'wtd_freq', 'rel_value'],
               color='#edc993'))

In [20]:
# abs_freq greater than 1
abs_greter_than_1 = word_freq_df[word_freq_df['abs_freq'] > 1]
(abs_greter_than_1.sort_values('rel_value', ascending=False)
 .head(10)
    .style.bar(['abs_freq', 'wtd_freq', 'rel_value'],
               color='#edc993'))

In [21]:
abs_greter_than_2 = word_freq_df[word_freq_df['abs_freq'] > 2]
(abs_greter_than_2.sort_values('rel_value', ascending=False)
 .head(10)
    .style.bar(['abs_freq', 'wtd_freq', 'rel_value'],
               color='#edc993'))

### Step Four - Analysis and Export


- Love is the most used word in movie titles. Out of 15,496 movies, Love appears in 210 movie titles followed by Man(197), My(191), 'I'(168) and '2'(159). 


- Love is not that high when it comes Weighted Frequency. In fact, Love is not even in the top ten. The number 2 is the top word (I know 2 is not a word but, in this analysis, '2' and '3' and 'i' and 'ii' are being used as words as they are part of movie titles). Weighted Frequency is calculating the sum of lifetime gross revenue for each movie the word appeared in the title. With this as the metric, 2's weighted frequency is worth \$10,062,046,737 - that's right 2 is in the title of movies whose sum is greater than 10 billion. This is almost double the next entry 'star' at \$5,588,247,468 - thanks Star Wars and Star Trek. 'Part' is interesting as it is a combination of 2 or 3 or ii which is the value of the 2nd and 3rd parts of a movie franchise. 


- With Relative Value, the words with an abs_freq of 1 are actually the lifetime gross of one movie, i.e. awakens is a word in the number one movie of all time 'Star Wars: The Force Awakens'. Ok but what about abs_freq is > 1? Similar findings with highly successful franchises or the second movie. Ok what about abs_freq greater than 2 - Again Similar findings but now 'wars' has the highest relative value.

In [22]:
# a way to sense check the words in titles and further explore other top words.
bom_df[bom_df['title'].str.contains('star | star', case=False)].head(10)

,rank,title,studio,lifetime_gross,year
0,1,Star Wars: The Force Awakens,BV,936662225,2015
7,8,Star Wars: The Last Jedi,BV,620181382,2017
10,11,Rogue One: A Star Wars Story,BV,532177324,2016
13,14,Star Wars: Episode I - The Phantom Menace,Fox,474544677,1999
14,15,Star Wars,Fox,460998007,1977
36,37,Star Wars: Episode III - Revenge of the Sith,Fox,380270577,2005
69,70,Star Wars: Episode II - Attack of the Clones,Fox,310676740,2002
109,110,Star Trek,Par.,257730019,2009
144,145,Star Trek Into Darkness,Par.,228778661,2013
171,172,Solo: A Star Wars Story,BV,213601143,2018

In [23]:
# what is the gross by studio
total_gross_studio = bom_df.groupby('studio')['lifetime_gross'].agg(sum).sort_values(ascending=False)
total_gross_studio.head()

studio
BV      41352429405
WB      37794700855
Uni.    33836240681
Fox     32855030953
Par.    28055922760
Name: lifetime_gross, dtype: int64

In [24]:
# number of movies by studio
total_movies = bom_df['studio'].value_counts()
total_movies.head()

WB      803
Uni.    691
Fox     617
Par.    591
BV      570
Name: studio, dtype: int64

In [25]:
# create a new dataframe, reset the index, rename the columns
new_df = pd.DataFrame([dict(total_gross_studio), dict(total_movies)]).transpose()
new_df = new_df.rename_axis('studio').reset_index()
new_df.columns = ['studio','lifetime_gross', 'number_movies']

In [26]:
# get the average total gross by studio
new_df.insert(3, 'avg_gross', value=new_df['lifetime_gross'] / new_df['number_movies'])

In [27]:
new_df.sort_values('avg_gross', ascending = False).head(10)

       studio  lifetime_gross  number_movies     avg_gross
698      P/DW      4730766291             39  1.213017e+08
573       MFF        87178599              1  8.717860e+07
1014  WB (NL)      4799255502             59  8.134331e+07
142        BV     41352429405            570  7.254812e+07
260        DW      4283727041             60  7.139545e+07
271      Dis.      1432560292             21  6.821716e+07
915      Sum.      1663937182             31  5.367539e+07
32        AAP        53267000              1  5.326700e+07
364       Fox     32855030953            617  5.324964e+07
523      LG/S      2031545083             39  5.209090e+07

BV or Buena Vista is top in total gross \$s but is 5th in the total number of movies. WB or Warner Brothers is 2nd in total gross \$s but 1st in total number of movies. The Star Wars franchise really boosts BV. 

How about the average gross by studio?

1.  is Paramount (DreamWorks) (Transformers, Shrek, Madagascar etc)
2.  is MacGillivray Freeman Films a documentary on Everest IMAX(only) 
3.  is Warner Bros. (New Line) (The Hobbit, Sex And The City
4.  is BV or Disney (Starwars, Marvel movies, Toy Story)
5.  is Dreamworks (see above)

I could apply the same metrics with Absolute Frequency, Weighted Frequency and Relative frequency of the studios but I will save that for another day.

Exporting the files

In [28]:
word_freq_df.to_csv('word_freq_df.csv')
bom_df.to_csv('bom_df.csv')